<html ng-app="datavisual">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- Javascript -->
<script type="text/javascript" src="../js/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="../js/jquery-ui.min.js"></script>
<script type="text/javascript" src="../js/bootstrap.min.js"></script>
<script type="text/javascript" src="../js/angular.min.js"></script>
<script type="text/javascript" src="../js/angular-animate.min.js"></script>
<script type="text/javascript" src="../js/ui-bootstrap.js"></script>
<script type="text/javascript" src="../js/jquery-ui-slider-pips.js"></script>
<script type="text/javascript" src="../js/highcharts.js"></script>
<!-- ajoslin.promise-tracker -->
<script type="text/javascript" src="../js/promise-tracker.js"></script>
<script type="text/javascript" src="../js/promise-tracker-http-interceptor.js"></script>
<!-- cg-busy -->
<script type="text/javascript" src="../js/angular-busy.js"></script>

<!-- CSS -->
<link href="../css/bootstrap.min.css" rel="stylesheet" type="text/css">
<link href="../css/bootstrap-theme.min.css" rel="stylesheet"
	type="text/css">
<link href="../css/font-awesome.min.css" rel="stylesheet"
	type="text/css">
<link href="../css/normalize.css" rel="stylesheet" type="text/css">
<link href="../css/jquery-ui.css" rel="stylesheet" type="text/css">
<link href="../css/jquery-ui-slider-pips.css" rel="stylesheet"
	type="text/css">
<!-- cg-busy -->
<link href="../css/angular-busy.css" rel="stylesheet" type="text/css">

<!-- Customize CSS -->
<link href="../css/mystyle.css" rel="stylesheet" type="text/css">

<!-- Controller -->
<script type="text/javascript" src="controller/DataOverviewByMonthCtrl.js"></script>

</head>
<body ng-controller="DataOverviewByMonthCtrl">

	<div class="container">
		<div>
			<image src="../images/bdi_logo.jpg" height="100px" />
		</div>
		<nav class="navbar navbar-inverse">
			<div class="container-fluid">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed"
						data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
						aria-expanded="false">
						<span class="sr-only">Toggle navigation</span> <span
							class="icon-bar"></span> <span class="icon-bar"></span> <span
							class="icon-bar"></span>
					</button>
				</div>

				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse"
					id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav">
						<li class="active"><a href="index.html">Data Overview <span
								class="sr-only">(current)</span></a></li>
						<li><a href="index2.html">Data Detail</a></li>
					</ul>
				</div>
				<!-- /.navbar-collapse -->
			</div>
			<!-- /.container-fluid -->
		</nav>
	</div>
	
	<div class="container" style="padding-top: 0px; padding-bottom: 15px">
		<div class="row">
			<div class="col-md-12 text-center">
				<label class="text-normal">
				Showing overview about number of established/bankrupted companies in whole country
				</label>
				<br/>
				<label class="text-primary">
				By 12 months in a year (<label style="font-size:12px">choose a sector to view</label>)
				</label>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="col-md-2">
					<label class="text-primary">Sector chooser</label>
				</div>
				<div class="col-md-3" style="padding-left: 5">
					<div class="dropdown">
						<select ng-model="selectedSector"
							style="width: 160px; text-align: left"
							ng-change="updateChartData2()">
							<option value="" selected="">--모든--</option>
							<option ng-repeat="option in sectors"
								value="{{option.nameInEnglish}}">{{option.nameInKorean}}</option>
						</select>
					</div>
				</div>
				<div class="col-md-2">
					<label class="text-default">Compare with</label>
				</div>
				<div class="col-md-5">
					<div class="dropdown">
						<select ng-model="selectedCompareSector"
							style="width: 140px; text-align: left"
							ng-change="updateCompareData2()">
							<option value="" selected="">--없음--</option>
							<option ng-repeat="option in sectors"
								value="{{option.nameInEnglish}}">{{option.nameInKorean}}</option>
						</select>
						(<label class="text-primary" style="font-size:12px">able to choose many sectors to compare together</label>)
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div id="containerChart2" cg-busy="{promise:promise,templateUrl:templateUrl,message:message,backdrop:backdrop,delay:delay,minDuration:minDuration}"
			style="min-width: 310px; height: 400px; margin: 0 auto"></div>
	</div>

	<script>
		
	</script>

</body>
</html>