<html lang="en" ng-app="datavisual">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- Javascript -->
<script type="text/javascript" src="../js/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="../js/jquery-ui.min.js"></script>
<script type="text/javascript" src="../js/bootstrap.min.js"></script>
<script type="text/javascript" src="../js/angular.min.js"></script>
<script type="text/javascript" src="../js/angular-animate.min.js"></script>
<script type="text/javascript" src="../js/ui-bootstrap.js"></script>
<script type="text/javascript" src="../js/jquery-ui-slider-pips.js"></script>
<script type="text/javascript" src="../js/highcharts.js"></script>
<!-- ajoslin.promise-tracker -->
<script type="text/javascript" src="../js/promise-tracker.js"></script>
<script type="text/javascript" src="../js/promise-tracker-http-interceptor.js"></script>
<!-- cg-busy -->
<script type="text/javascript" src="../js/angular-busy.js"></script>

<!-- Google Map -->
<script
	src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAZKsj2FIEAvHJA-sA2G0zpMQ8yKEeMNKQ&signed_in=false">
</script>
<!-- Map Label -->
<script type="text/javascript" src="../js/maplabel-compiled.js"></script>

<!-- CSS -->
<link href="../css/bootstrap.min.css" rel="stylesheet" type="text/css">
<link href="../css/bootstrap-theme.min.css" rel="stylesheet"
	type="text/css">
<link href="../css/font-awesome.min.css" rel="stylesheet"
	type="text/css">
<link href="../css/normalize.css" rel="stylesheet" type="text/css">
<link href="../css/jquery-ui.css" rel="stylesheet" type="text/css">
<link href="../css/jquery-ui-slider-pips.css" rel="stylesheet"
	type="text/css">
<!-- cg-busy -->
<link href="../css/angular-busy.css" rel="stylesheet" type="text/css">

<!-- Customize CSS -->
<link href="../css/mystyle.css" rel="stylesheet" type="text/css">

<!-- Controller -->
<script type="text/javascript" src="controller/DataDetailCtrl.js"></script>

<script type="text/javascript">
	google.maps.Polygon.prototype.getBounds = function() {
		var bounds = new google.maps.LatLngBounds();
		var paths = this.getPaths();
		var path;
		for (var i = 0; i < paths.getLength(); i++) {
			path = paths.getAt(i);
			for (var ii = 0; ii < path.getLength(); ii++) {
				bounds.extend(path.getAt(ii));
			}
		}
		return bounds;
	}
</script>

</head>
<body ng-controller="DataDetailCtrl">
	<div class="container">
		<div>
			<image src="../images/bdi_logo.jpg" height="100px" />
		</div>
		<nav class="navbar navbar-inverse">
			<div class="container-fluid">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed"
						data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
						aria-expanded="false">
						<span class="sr-only">Toggle navigation</span> <span
							class="icon-bar"></span> <span class="icon-bar"></span> <span
							class="icon-bar"></span>
					</button>
				</div>

				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse"
					id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav">
						<li><a href="index.html">Data Overview <span
								class="sr-only">(current)</span></a></li>
						<li class="active"><a href="index2.html">Data Detail</a></li>
					</ul>
				</div>
				<!-- /.navbar-collapse -->
			</div>
			<!-- /.container-fluid -->
		</nav>
	</div>
	
	<div class="container" style="padding-top: 0px; padding-bottom: 0px">
		<div class="row">
			<div class="col-md-12 text-center">
				<label class="text-normal">
				Showing the distribution of the number of established/bankrupted companies
				</label>
				<br/>
				<label class="text-primary">
				By locations and by sectors (view by Months and by Years)
				</label>
			</div>
		</div>
	</div>
	<div class="container ">
		<div class="panel-group" id="accordion">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title">
						<a data-toggle="collapse" data-parent="#accordion"
							href="#collapse1">Click to collapse/expand options panel </a>
					</h4>
				</div>
				<div id="collapse1" class="panel-collapse collapse">
					<div class="" style="padding-top: 5px; padding-bottom:20px">
						<div class="row">
							<div class="col-md-12" style="text-align: center">
								<div class="btn-group" role="group">
									<button ng-model="radioTime" class="btn btn-primary" style="width:80px" uib-btn-radio="'Year'" ng-click="changeTime()">Year</button>
									<button ng-model="radioTime" class="btn btn-primary" style="width:80px" uib-btn-radio="'Month'" ng-click="changeTime()">Month</button>
								</div>
								<label class="text-success">
									(View by Months in a year (default) or by Years)
								</label>
							</div>
						</div>
					</div>
					<div class="my_container">
						<div class="row">
							<div class="col-md-12">
								<div class="col-md-2">
									<label class="text-primary">Year chooser</label>
								</div>
								<div class="col-md-10">
									<div class="slider"></div>
								</div>
							</div>
						</div>
						<div class="row" style="padding-top: 8px" ng-show="radioTime === 'Month'">
							<div class="col-md-12">
								<div class="col-md-2">
									<label class="text-primary">Month chooser</label>
								</div>
								<div class="col-md-10">
									<div class="sliderMonth"></div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<div class="col-md-2">
									<label class="text-primary">Location chooser</label>
								</div>
								<div class="col-md-10" style="">
									<div class="dropdown">
										<select ng-model="selectedProvince" style="width: 160px; text-align: left" ng-change="updateGeoMapByCity()">
											<option value="" selected="">--한국--</option>
											<option ng-repeat="option in provinceList" value="{{option.provinceNameKor}}">{{option.provinceNameKor}}</option>
										</select>
										<label class="text-primary" style="font-size:12px">
										(click <label style="color: red">red circles</label> on map to see distribution by sectors)
										</label>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="col-md-12">
		<div class="row" style="text-align: center">
			<label class="text-danger">Showing data of <label class="text-primary">Year {{year}}</label> 
				<label class="text-primary">{{month === 0 ? '' : ' and Month ' + month}}</label>
				<label class="text-primary">{{selectedSector !== "" ? '- sector: ' + selectedSector : '- All sectors'}}</label>
			</label>
		</div>
		<div class="{{colZoom}}">
			<div class="col-md-12" style="text-align: center">
				<label class="text-primary">
					By Locations (
					<select ng-model="selectedProvince" style="width: 160px; text-align: left" ng-change="updateGeoMapByCity()">
						<option value="" selected="">--한국--</option>
						<option ng-repeat="option in provinceList" value="{{option.provinceNameKor}}">{{option.provinceNameKor}}</option>
					</select>)
				</label>
				<label class="text-normal" style="font-size:12px"> - click a location on map to view more detail</label>
				<button id="iconChangeZoom" class="glyphicon glyphicon-resize-full" style="float: right;" ng-click="changeColZoom()"></button>
			</div>
			<div class="col-md-12">
				<div id="map" cg-busy="{promise:promise2,templateUrl:templateUrl,message:message,backdrop:backdrop,delay:delay,minDuration:minDuration}"></div>
			</div>
		</div>
		<div class="{{colZoom}}">
			<div style="text-align: center">
				<label class="text-primary text-center">By Sectors</label>
				<label class="text-normal" style="font-size:12px"> - click a sector to view distribution on Map or view <a style="text-decoration: underline; " ng-click="selectAllSector()">All</a> sector</label>
			</div>
			<div class="col-md-12" cg-busy="{promise:promise1,templateUrl:templateUrl,message:message,backdrop:backdrop,delay:1,minDuration:1}">
				<div id="containerPieChart" style="min-width: 310px; height: 300px;"></div>
				<div id="containerBarChart" style="min-width: 310px; height: 300px;"></div>
			</div>
		</div>
	</div>



	<script>
		
	</script>

</body>
</html>