<html lang="en" ng-app="brmh">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- Javascript -->
<script type="text/javascript" src="../js/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="../js/jquery-ui.min.js"></script>
<script type="text/javascript" src="../js/bootstrap.min.js"></script>
<script type="text/javascript" src="../js/angular.min.js"></script>
<script type="text/javascript" src="../js/angular-animate.min.js"></script>
<script type="text/javascript" src="../js/ui-bootstrap.js"></script>
<script type="text/javascript" src="../js/ui-bootstrap-tpls.js"></script>
<script type="text/javascript" src="../js/jquery-ui-slider-pips.js"></script>
<script type="text/javascript" src="../js/highcharts.js"></script>
<!-- ajoslin.promise-tracker -->
<script type="text/javascript" src="../js/promise-tracker.js"></script>
<script type="text/javascript" src="../js/promise-tracker-http-interceptor.js"></script>
<!-- cg-busy -->
<script type="text/javascript" src="../js/angular-busy.js"></script>
<!-- dirPagination -->
<script type="text/javascript" src="../js/dirPagination.js"></script>
<!-- D3JS -->
<script type="text/javascript" src="../js/d3.min.js"></script>
<!-- Datetime picker -->
<script type="text/javascript" src="../js/moment.min.js"></script>
<script type="text/javascript" src="../js/bootstrap-datetimepicker.min.js"></script>
<!-- Loading Overlay -->
<script type="text/javascript" src="../js/loadingoverlay.js"></script>

<!-- CSS -->
<link href="../css/bootstrap.min.css" rel="stylesheet" type="text/css">
<link href="../css/bootstrap-theme.min.css" rel="stylesheet"
	type="text/css">
<link href="../css/font-awesome.min.css" rel="stylesheet"
	type="text/css">
<link href="../css/normalize.css" rel="stylesheet" type="text/css">
<link href="../css/jquery-ui.css" rel="stylesheet" type="text/css">
<link href="../css/jquery-ui-slider-pips.css" rel="stylesheet"
	type="text/css">
<!-- cg-busy -->
<link href="../css/angular-busy.css" rel="stylesheet" type="text/css">
<!-- Datetime picker -->
<link rel="stylesheet" href="../css/bootstrap-datetimepicker.min.css" />

<!-- Customize CSS -->
<link href="../css/mystyle.css" rel="stylesheet"
	type="text/css">

<!-- Controller -->
<script type="text/javascript" src="controller/TimeTrackingController.js"></script>

</head>
<title>BRMH - 서울대학교병원운영 서울특별시보라매병원</title>
<body ng-controller="TimeTrackingController">
	<div>
		<header class="wrapper">
            <div class="center2"><img src="../images/logo.png" alt="BRMH" /></div>
        </header>
		<nav>
            <div class="center2 wrapper">
                <a class="nav-item" href="index.html" title="Real-Time Tracking">Real-time Tracking</a>
                <a class="nav-item current" href="time_tracking.html" title="Inspect Time">Inspect Time</a>
                <a class="nav-item" href="section_tracking.html" title="Inspect Section">Inspect Section</a>
                <a class="nav-item" href="patient_tracking.html" title="Inspect Patient">Inspect Patient</a>
            	<a class="nav-item" href="statistic.html" title="Statistic">Statistic</a>
            </div>
        </nav>
	</div>
	<div class="container my_container">
		<div class="col-md-12">
			<div class="col-md-6">
				<span class="col-md-12 text-center">Map</span>
				<div id="brmh" class="col-md-12 center" style="width: 100% !important; height: 440px"></div>
			</div>
			<div class="col-md-6">
				<span class="col-md-12 text-center">Search conditions</span>
				<div id="searchDiv" class="col-md-12 center" style="width: 100% !important; height: 440px">
					<div class="col-md-12 form-group">
						<label>Date Time: </label> 
						<div class='input-group date' id='datetimepicker1'>
		                    <input type='text' class="form-control" id="searchFromTime"/>
		                    <span class="input-group-addon">
		                        <span class="glyphicon glyphicon-calendar"></span>
		                    </span>
		                </div>
					</div>
					<div class="col-md-12 form-group">
						<div class='input-group date' id='datetimepicker2'>
		                    <input type='text' class="form-control" id="searchToTime"/>
		                    <span class="input-group-addon">
		                        <span class="glyphicon glyphicon-calendar"></span>
		                    </span>
		                </div>
					</div>
					<div class="col-md-12 form-group">
						<div class="col-md-6 no-paddingleft">
							&nbsp;
						</div>
						<div class="col-md-6 no-paddingright">
							<button type="button" class="btn btn-primary form-control"
							id="btnSearch" ng-click="doInspect()">Inspect</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="container responsive col-md-12">
			<div class="col-md-12">
				<label class="text-primary">All sections</label>
			</div>
			<table class="table table-bordered table-hover">
				<thead>
					<tr>
						<th class="col-md-1" style="width: 10px">#</th>
						<th class="col-md-3">Section Name</th>
						<th class="col-md-3 text-center">Number of People</th>
						<th class="col-md-6">Detail</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-show="inspectList.length <= 0">
						<td colspan="4" style="text-align: center;">{{loading}}</td>
					</tr>
					<tr dir-paginate="inspect in inspectList|itemsPerPage:itemsPerPage"
						total-items="total_count">
						<td>{{inspect.index}}</td>
						<td>{{inspect.sectionName}}</td>
						<td class="text-center">{{inspect.peopleCount}}</td>
						<td>
							<button class="btn btn-default" ng-click="viewDetail($event, inspect.sectionId)">Detail</button>
						</td>
					</tr>
				</tbody>
			</table>
			<div class="text-center">
				<dir-pagination-controls max-size="itemsPerPage" direction-links="true"
					boundary-links="true" on-page-change="doInspect(newPageNumber)">
				</dir-pagination-controls>
			</div>
		</div>
	</div>
	<div id="detail-popup" class="popup">
    </div>
    <footer>
         <div class="wrapper center2">
             <div><img src="../images/footer-logo.png" alt="BRMH" /></div>
             <div>SNU Boramae Medical Center</div>
             <div>SNU Big Data Institute</div>
         </div>
     </footer>
</body>
</html>